@import '../../../node_modules/@salesforce-ux/design-system-primitive-tokens/dist/base.default.scss';

.lwc-button {
  -webkit-appearance: none;
  background: $color-brand;
  color: white;
  border: 0;
}